name: Update Contributors
on:
  push:
    branches:
      - main

jobs:
  update:
    runs-on: ubuntu-20.04
    name: Update
    steps:
      - name: Contribute List
        uses: akhilmhdh/contributors-readme-action@v2.3.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: "docs: update collaborators"
          pr_title_on_protected: "docs: update collaborators"
